<!doctype html>
<html>
  <head>
    <title>Art Hum Thing</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" charset="utf-8" />
    <script src='/socket.io/socket.io.js'></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script>
      window.onload = function () {
        //create socket
        var socket = io.connect('http://arthum.ngrok.com');
        // var socket = io.connect('http://localhost:3000');

        socket.on('connect', function () {
          if((navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i))) {
            window.addEventListener('touchstart', function(ev) {
              if (ev.touches.length == 1) {
                var touch = ev.touches[0];
                id = String(touch.pageX) + '-' + String(touch.pageY);
                // socket.emit('click', JSON.stringify({ x: touch.pageX, y: touch.pageY}));
                window.location = '/upload?id='+id;
              }
            });

            //
            // window.addEventListener('touchend', function(ev) {
            //   if (ev.touches.length == 1) {
            //     var touch = ev.touches[0],
            //     if (Math.abs(touchStart[0]-touch.pageX)<10 && Math.abs(touchStart[1]-touch.pageY)<10) {
            //       socket.emit('click', JSON.stringify({ x: touch.pageX, y: touch.pageY}));
            //     }
            //   }
            // });

          } else {
            document.onclick = function (ev) {

              console.log('emitting click');
              // background = document.getElementById("background");
              x_coord =  document.body.scrollTop + ev.clientX;
              y_coord = document.body.scrollLeft + ev.clientY;
              id = String(x_coord) + '-' +String(y_coord)
              // socket.emit('click', JSON.stringify({pos:{ x: x_coord, y: y_coord}, link: 'http://arthum.ngrok.com/tag?id='+id}));
              window.location = '/upload?id='+id;
            }
          }
        });

        socket.on('initialize', function (obj) {
          console.log('initializing');
          obj = JSON.parse(obj);
          for (var i = 0; i < obj.length; i++) {
            move(obj[i].pos, '/tag?id='+obj[i].id);
          }
        });

        socket.on('position', function (obj) {
          obj = JSON.parse(obj);
          move(obj.pos, obj.link);
        });

        socket.on('disconnect', function (obj) {
          id = JSON.parse(obj).id;
          console.log('removing object # ' + id);
          var tag = document.getElementById('tag-'+id);
          tag.parentNode.removeChild(tag);
        });

        function move (pos, link) {
          var img = document.createElement('img');
          tag = document.createElement('a');
          tag.href = link;
          tag.style.position = 'absolute';
          img.src = '/images/doge.png';
          tag.appendChild(img);
          document.body.appendChild(tag);

          tag.style.left = pos.x -9 + 'px';
          tag.style.top = pos.y - 9 + 'px';
        }



      }
    </script>
  </head>
  <body>
    <div id="banner">
      <div id="banner-content">
        {{theme}}
      </div>
<!--       <a href="uploadform.html" data-rel="dialog">Open dialog</a> -->
    </div>

    <div id="background" style="overflow:auto;">
      <img id="map" src="/images/map.png" width="100%">
    </div>

  </body>
</html>
