<!doctype html>
<html>
  <head>
    <title>Art Hum Thing</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" charset="utf-8" />
  </head>
  <body>
    <div id="tag">
      Theme: {{theme}} <br>
      Picture: <img src={{picture}}> <br>
      Description: {{description}}
    </div>
  </body>
</html>
