<!doctype html>
<html>
  <head>
    <title>Art Hum Thing</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" charset="utf-8" />
  </head>
  <body>
    <div id="tag">
      <b>Theme:</b> {{theme}} <br>
      <b>Picture:</b> <img src={{picture}}> <br>
      <b>Name:</b> {{name}} <br>
      <b>Year:</b> {{year}} <br>
      <b>Artist:</b> {{artist}} <br>
      <b>Description:</b> {{description}}
    </div>
  </body>
</html>
